@import 'tailwindcss';

/* home page jumbotron swiper */
#kpop-swiper .swiper-pagination-bullet {
  @apply w-2 h-2 bg-[var(--secondary-color)] opacity-50 mx-1 rounded-full transition-all;
}
#kpop-swiper .swiper-pagination-bullet-active{
  @apply w-8 h-2 mx-1 rounded-2xl opacity-100 bg-[var(--primary-color)]
}

/* swiper of home page events and arrivals  */
#new-item .coverflow-swiper,
#new-event .coverflow-swiper {
  width: 75%;
  padding: 20px;
}
#new-item .coverflow-swiper > .swiper-wrapper,
#new-event .coverflow-swiper > .swiper-wrapper {
  width: 33.3333333%;
}

#new-item-img .swiper,
#new-item-img .swiper-wrapper,
#new-item-img .swiper-slide {
  height: 100%;
  width: 100%;
}

#new-item-img .swiper-pagination-bullets { 
  bottom: 6px; 
}
#new-item-img .swiper-pagination-bullet { 
  opacity: .6;
  background: var(--secondary-color); 
}
#new-item-img .swiper-pagination-bullet-active { 
  opacity: 1; 
  background: #20d54a;
}

/* swiper of product category  */
#swiper-product-category .swiper {
  height: 100%;
}

#swiper-product-category .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

#swiper-product-category .swiper-slide-active {
  color: red;
  font-size: larger;
}

/* swiper of my shop img */

#my-shop-img .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#my-shop-img .swiper-slide {
  width: 100%;
  height: 100%;
}

#my-shop-img .swiper-pagination {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 15px;
}

#my-shop-img .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 10px;
  height: 3px;
  width: 14%;
}

#my-shop-img .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  opacity: 1;
  height: 3px;
  width: 30%;
}

#my-shop-img .swiper-button-next::after, #my-shop-img .swiper-button-prev::after {
  position: relative;
  scale: 0.5;
}

/* swiper of product img */
#product-img .swiper, #product-img .swiper-wrapper, #product-img .swiper-slide {
  height: 100%;
  width: 10px;
}

#product-img .swiper-pagination-bullet {
  background-color: #fbfbfb;
  opacity: 0.6;
  border-radius: 10px;
  height: 5px;
  width: 14%;
}

#product-img .swiper-pagination-bullet-active {
  background-color: #20d54a;
  opacity: 1;
  width: 30%;
}

