@import 'tailwindcss';

/* home page jumbotron swiper */
#kpop-swiper .swiper-pagination-bullet {
  @apply w-2 h-2 bg-[#f8f7cf] opacity-50 mx-1 rounded-full transition-all;
}
#kpop-swiper .swiper-pagination-bullet-active{
  @apply w-8 h-2 mx-1 rounded-2xl opacity-100 bg-[#9EBC8A]
}

/* swiper of home page events and arrivals  */
#new-item .swiper {
  @apply w-3/4 py-5;
}
#new-item .swiper-wrapper {
  @apply w-3/4 lg:w-1/3
}

#new-even .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 100%;
  aspect-ratio: 1 / 1;
}

#new-even .swiper-slide img {
  display: block;
  width: 100%;
}

/* swiper of product category  */
#swiper-product-category .swiper {
  height: 100%;
}

#swiper-product-category .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

#swiper-product-category .swiper-slide-active {
  color: red;
  font-size: larger;
}

/* swiper of my shop img */

#my-shop-img .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#my-shop-img .swiper-slide {
  width: 100%;
  height: 100%;
}

#my-shop-img .swiper-pagination {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 15px;
}

#my-shop-img .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 10px;
  height: 3px;
  width: 14%;
}

#my-shop-img .swiper-pagination-bullet-active {
  background-color: #537D5D;
  opacity: 1;
  height: 3px;
  width: 30%;
}

#my-shop-img .swiper-button-next::after, #my-shop-img .swiper-button-prev::after {
  position: relative;
  scale: 0.5;
}

/* swiper of product img */
#product-img .swiper, #product-img .swiper-wrapper, #product-img .swiper-slide {
  height: 100%;
  width: 10px;
}

#product-img .swiper-pagination-bullet {
  background-color: #fbfbfb;
  opacity: 0.6;
  border-radius: 10px;
  height: 5px;
  width: 14%;
}

#product-img .swiper-pagination-bullet-active {
  background-color: #20d54a;
  opacity: 1;
  width: 30%;
}



